.popup{
     position: fixed;
     top:0;
     left:0;
     width:100%;
     height:100%;
     background-color:rgba(0, 0, 0, 0.5);

     display: flex;
     justify-content: center;
     align-items: center;
}

.popup-inner{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 32px;
     width: 400px;
     height: 500px;
     background-color: #fff;
     border-radius: 25px;
     font-family: 'poppins';
}

.popup-inner img{
}

.popup-inner p{
     font-size: 40px;
     text-align: center;
     margin:15px;
}

.popup-inner p:last-child{
     text-align: center;
     font-size: 20px;
}