.contenerNavbar{
    position: relative;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    justify-content: space-between;
    height: 93px;
    padding: 0px 48px 0px 48px;
}

.textNavbar{
    text-decoration: none;
    font-weight: 900px;
    font-size: 48px;
    color: #165724;
}

.boxNavbar{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.liNavbar{
    margin: 0px 10px;
    display: flex;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}

#search{
    background: #FFFFFF;
    border: 2px solid #165724;
    border-radius: 11px;
    font-size: 18px;
    height: 36px;
    width: 300px;
    padding-left: 20px;
}

.btnSearchNavbar{
    right: 0px;
    background: #165724;
    border: 2px solid #165724;
    border-radius: 11px;
    height: 40px;
    width: 48px;
}

.contactNavbar{
    background: #165724;
    border-radius: 11px;
    font-weight: 400;
    font-size: 24px;

    color: #FFFFFF;

    height: 40px;
    padding: 0px 20px;
}

.searchTopSeller{
    height: 24px;
}

.cartNavbar{
    position: relative;
    width: 40px;
    height: 40px;
}

.basketIMG{
    width: 34px;
    height: 34px;
}

.basketIMG{
    position:absolute;
    bottom: 0px;
    left: 0px;
    width: 34px;
    height: 34px;
}

.productsCountNavbar{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1564C;
    width: 20px;
    height: 20px;
    top: 0px;
    right: 0px;
    color: white;
    border-radius: 15px;
}

.profileNavbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgNavbar{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 4px solid #5C8D67;
}