@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Aladin');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap');

.Poppins{
    font-family: 'Poppins';
    font-style: normal;
}

.Aladin{
    font-family: 'Aladin';
    font-style: normal;
}
