.contenerProductList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxProductList{
    width: 1240px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.PDProductList{
    width: 270px;
    height: 330px;
    margin: 20px;
}