
.containerNavbar{
    position: relative;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    justify-content: space-between;
    height: 97px;
    padding: 0px 48px 0px 48px;
    margin: -10px -10px;
}

.royalTomHead{
    text-decoration: none;
    font-family: 'Aladin';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: rgba(22, 87, 36, 0.95);
    
}

.helpcenterHead{
    background: #165724;
    border-radius: 11px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    color: #FFFFFF;

    height: 40px;
    padding: 0px 20px;
}

.subjectText{
    color:gray;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.redStar{
    color:red;
}

.smallInputBox{
    padding:8px;
    width:300px;
}
.signupTitle{
    margin-left: 16px;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.95);
    padding-left: 20px;
    padding-top: 25px;
}
.smallContainer{
    display:flex;
    align-items: center;
    margin-left: 27.5px;
}

.gridItemBox{
    padding-top: 8px;
    width:585px;
}
.LowerBox{
    padding:8px;
    margin-left: 27.5px;
}
.termPolicy{
    text-align:center;
    padding-top: 5px;
}
.inputBox{
    border-radius: 5px;
}
.haveAccount{
    display:flex;
    justify-content: center;
    align-items: center;
}


.signupOuterBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupButton{
    border-radius: 8px;
}

.haa{
    color:#c4c4c4;
}

.imageLogo{
    width:376px;
    height:457px;
}

.textGreen{
    color: rgb(22, 87, 36);
}